header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 1vh;
    height: 12vh;
    padding: 1rem;

    font-size: 3rem;
}

header a {
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: none;
    user-select: none;
    color: var(--blue-50);
}

@media screen and (min-width: 1024px) {
    header {
        font-size: 3.5rem;
        font-weight: 300;
    }
}